    /*
    Name: Nashifah Ahmed
    File: styles.css
    Date: 23 February 2026
    Description: INFT1206 Lab 3 Part 1 - Styling a Biography Page
    */
html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin: 0 auto;
}

ul {
  background-color: white;
  border: 5px solid purple;
  padding: 30px;
  border-radius: 20px;
}