/* General setup */
    /*
    Name: Nashifah Ahmed
    File: styles.css
    Date: 23 February 2026
    Description: INFT1206 Lab 3 Part 2 - Typesetting a homepage
    */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: "PT Serif", serif;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1.5px;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
    letter-spacing: 1px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 20px;
    min-width: 980px;
    max-width: 1400px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

section p {
    text-indent: 2rem;
}

ul {
    line-height: 1.5;
    margin: 0 auto;
    list-style-type: circle;
}

ol {
    line-height: 1.5;
    margin: 0 auto;
    list-style-type:lower-roman;
}

nav ul, li {
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-decoration: none;
}

nav a {
    display: block;
    width: 100%;
    border: 2px solid #aa6666;
    border-radius: 10px;
    line-height: 5;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

a:link, a:visited{
    color: #aa6666;
    text-decoration: underline;
    outline: none;
}

a:focus, a:hover {
    color:#aa6666;
    text-decoration: none;
    outline: none;
}

a[href*="http"] {
    padding-right: 12px;
    background: no-repeat right center url("../images/external-link-52.png");
    background-size: 10px 10px;
}

/* Layout */

main {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
    gap: 40px;
    padding: 20px 0;
}

/* header and footer */

header {
    border-bottom: 5px solid #aa6666;
}

footer {
    border-top: 5px solid #aa6666;
}

footer p {
    text-align: center;
}